body {
    font-family: 'Oswald', sans-serif;
}

td>a {
    color: inherit;
}

td>a:hover{
    color: rgba(237, 228, 47, 1);
}

td {
    font-size: 1.2rem;
}

.hand-color {
    color: rgba(245, 152, 66, 255);
}

.cells-color {
    background-color: rgba(155, 88, 209, 1);
}

.nav-text {
    font-size: 1.3rem;
    font-weight: bold;
}

.title-margin {
    margin-top: 5rem;
}